<% let useMessage; try {useMessage = message} catch {useMessage = false} %>
<div id="headbar">
    <div class="left">
        <a href="/">Respie</a>
    </div>

    <div class="center">
        <form action="/search" method="POST" class="searchbar">
            <!-- <svg></svg> --><span style="display:flex;justify-content:center;align-items:center;font-size: 1.5em;">🔍</span>
            <input type="text" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="right">
        <% if (user) { %>
            <a href="/user/<%= user._id %>/dashboard">Dashboard</a>
            <div id="create-menu" class="flyout-menu">
                <button class="type3">➕</button>
                <ul>
                    <h6>Create</h6>
                    <a href="/recipes/new"><li>Recipe</li></a>
                    <a href="/ingredients/new"><li>Ingredient</li></a>
                    <a href="/users/pantry/new"><li>Add to Pantry</li></a>
                </ul>
            </div>
    
            <div id="profile-menu" class="flyout-menu">
                <span><%= user.displayname %></span>
                <img src="<%= user.profilePhoto?.small || "/svg/noimg.svg" %>">
                <span> ▾</span>
                <ul>
                    <a href="/user/<%= user._id %>/dashboard"><li>Profile</li></a>
                    <a href="/auth/logout?_method=POST"><li>Sign Out</li></a>
                </ul>
            </div>
        <% } else { %>
            <div id="headbar-auth">
                <a href="/auth/register">Sign Up</a>
                <a href="/auth/login">Login</a>
            </div>
        <% } %>
    </div>
</div>

<% if (useMessage) { %>
<div id="flash">
    <p><%= message %></p>
</div>
<% } %>
<hr>