<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/headbar.ejs') %>

    <h1>Your Home For Cooking Made Simple</h1>
    <p>Browse Thousands of Recipes and Share Them With The World</p>
    <button class="type1">Browse Community Recipes</button>

    <section id="top-recipes">
        <div class="ingredients-grid">
            <% data.topRecipes.map((r,idx) => { %>
                <div class="recipe-card" name="<%= r.name %>" listNumber="<%= idx %>">
                    <h4><%= r.title %></h4>
                    <div>
                        <div class="chip"><svg></svg>Prep Time: <%= r.prepTime %></div>
                        <div class="chip"><svg></svg>Cook Time: <%= r.cookTime %></div>
                        <div class="chip"><svg></svg>Servings: <%= r.servings %></div>
                    </div>
                    <a href="/recipes/<%= r._id %>">See More</a>
                    <img src="<%= r.img %>" alt="<%= r.title %>">
                </div>
            <% }) %>
        </div>
    </section>

    <section id="sign-up">
        <h2>Introducing Your New Su-Chef</h2>
        <p>The Resspie Dashboard makes cooking a breeze!<br>Sign up to save all your recipes, favourite ingredients, and cheff's notes all in 1 place.</p>
        <button class="action-btn">Let's Get Cookin!</button>
        <img src="/dashboard-impressions-marketing.png" alt="Resspie dashboard preview image">
    </section>
    
    <section id="health-promo">
        <h2>A Healthier You<br>Is A Happier Life</h2>
        <p>Sign up to engague with our community on topics to promote a healthy lifestyle.<br>Plus browse hundreds of articles written by top community members on how you can keep yourself in top condition.</p>
        <button class="action-btn">Sign-up</button>
        <button class="info-btn">See More</button>
        <img src="/forum-promo.png" alt="Resspie Community Forum Image">
    </section>
    
    <section id="workout-app-promo">
        <h2>Coming Soon!</h2>
        <p>Be one of the first to try out the Respie workout tracker app.</p>
        <button class="action-btn">Sign-up For The Newsletter</button>
        <button class="info-btn">Join The Beta</button>
        <button class="info-btn">Learn More</button>
        <img src="/forum-promo.png" alt="Resspie Community Forum Image">
    </section>

    <footer>
        <h5>Site Map</h5>
        <ul>
            <li><a href="#">Respie Dashboard</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Workout Tracker</a></li>
            <li><a href="#">Respie Forum</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
        </ul>

        <p class="trademark">Respie is not actually a registered trademark.</p>
        <p class="site-byline">Designed & Built By Jonathan Washington<br>Saint Charles, IL<br>Winter 2026</p>
    </footer>

</body>
</html>