<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title:recipe.name, stylesheets:['dashboard'] }) %>
</head>
<body>
    <%- include('../partials/headbar.ejs') %>
    <%- include('../partials/nav.ejs', {classList:'show', page:'Recipes'}) %>

    <main>
        <header>
            <h1><%= recipe.title %></h1>
            <div class="chips">
                <% if (recipe.prepTime) { %>
                    <div class="chip"><!-- <svg></svg> -->Prep Time: <%= recipe.prepTime %></div> 
                <% } %>
                <% if (recipe.cookTime) { %>
                    <div class="chip"><!-- <svg></svg> -->Cook Time: <%= recipe.cookTime %></div>
                <% } %>
                <% if (recipe.servings) { %>
                    <div class="chip"><!-- <svg></svg> -->Servings: <%= recipe.servings %></div>
                <% } %>
            </div>
            <div class="action-block">
                <a href="/users/favorite/<%= recipe._id %>?_method=PUT" class="favorite"><!-- <svg></svg> --></a>
                <button id="action-btn">View Full Recipe</button>
            </div>
        </header>

        <section id="ingredients">
            <div class="section-head">
                <h2>ingredients</h2>
                <div><%= recipe.ingredients.length %></div>
            </div>
            <div class="ingredients-grid">
                <% recipe.ingredients.map((i,idx) => { %>
                    <% const inPantry = user.pantry.find(item => item.ingredientID?._id===i.ingredientID?._id) || false %>
                    <div class="ingredient card" name="<%= i.name %>" listNumber="<%= idx %>">
                        <input type="checkbox" <%= i.checked && "checked" %> />
                        <div class="quantity-block">
                            <span><%= i.quantity || '' %></span>
                            <span><%= inPantry?.quantity || '' %></span>
                        </div>
                        <p><%= i.name %></p>
                        <% if (i.ingreedientID?.img) { %>
                            <img src="<%= i.ingreedientID.img %>" alt="<%= i.name %>">
                        <% } else { %>
                            <img src="/svg/noimg.svg">
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </section>

        <section id="photos">
            <div class="section-head">
                <h2>ingredients</h2>
            </div>
            <div class="photo-viewer">
                <div class="prev"></div>
                <div class="big"></div>
                <div class="next"></div>
                <div class="thumbnails">
                    <% if (recipe.photos) { %>
                        <% recipe.photos.map(photo => { %>
                            <img src="<%= photo.url %>" alt="<%= photo.title || recipe.title %>">
                        <% }) %>
                    <% } else { %>
                        <img src="/svg/noimg.svg">
                    <% } %>
                </div>
            </div>
        </section>

        <section id="instructions">
            <div class="section-head">
                <h2>Instructions</h2>
                <div class="view-full">
                    <!-- <svg></svg> -->
                </div>
            </div>
            <div class="instructions-grid">
                <% recipe.instructions.map((s,idx) => { %>
                    <div class="instruction card" name="<%= s.title %>" listNumber="<%= idx %>">
                        <input type="checkbox" <%= s.checked && "checked" %> />
                        <p><%= s.order %></p>
                        <p><%= s.title %></p>
                        <img src="<%= s.imgUrl || `/numbers/${s.order}` %>" alt="<%= s.title %>">
                    </div>
                <% }) %>
            </div>
        </section>
        
        <section id="notes">
            <div class="section-head">
                <h2>Notes</h2>
                <button class="view-full">
                    <!-- <svg></svg> -->
                </button>
            </div>
            <div class="notes-grid">
                <textarea name="notes" id="notes">
                    <%= recipe.notes || '' %>
                </textarea>
            </div>
        </section>

        <article>

        </article>
    </main>
</body>
</html>