<dialog id="ingredient-modal">
    <form action="/ingredients/<%= ingredient._id %>?_method=PUT" method="POST">
        <header>
            <h1>Edit <%= ingredient.name %></h1>
            <div class="btn-block">
                <button type="submit" class="action-btn">Save</button>
                <button type="button" class="btn">Delete</button>
            </div>
        </header>

        <p id="modal-message" class="hide"></p>
        
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="<%= ingredient.name %>" required>

        <label for="category">Category</label>
        <input id="category" name="category" type="text" value="<%= ingredient.category %>">

        <%= if (forPantry) { %>
            <label for="expires">Expiration Date</label>
            <% const useDate = new Date(ingredient.expires).toISOString().split('T')[0] || '' %>
            <input id="expires" name="expires" type="date" value="<%= useDate %>">
        <% } %>
        
        <label for="img">Image</label>
        <p class="form-instruction">Add an Image URL</p>
        <input id="img" name="img" type="text" value="<%= ingredient.image %>">
    </form>
</dialog>