<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title:ingredient.name, stylesheets:['dashboard'] }) %>
</head>
<body>
    <%- include('../partials/headbar.ejs') %>
    <%- include('./partials/nav.ejs', {classList:'show', page:'Ingredients'}) %>

    <main>
        <header>
            <h1>Ingredients</h1>
            <button class="action-btn">Add</button>
        </header>

        <section id="ingredients">
            <div class="ingredients-grid">
                <% ingredients.map((i,idx) => { %>
                    <% const inPantry = user.pantry.find(item => item._id===i._id) %>
                    <div class="ingredient item card" name="<%= i.name %>" listNumber="<%= idx %>">
                        <a href="/users/favorite/<%= r._id %>?_method=PUT" class="favorite"><svg></svg></a>
                        <a href="/ingredients/<%= i._id %>/modal">
                            <% if (i.img) { %>
                                <img src="<%= i.img %>" alt="<%= i.name %>">
                            <% } %>
                            <h4 class="name"><%= i.name %></h4>
                            <p class="category"><%= i.category || '' %></p>
                            <% if (inPantry) { %>
                                <p class="quantity"><%= inPantry?.quantity %> left</p>
                                <% const expirationDDay = inPantry?.expires - Date.now(); const weekInMs = 604800000; const xpddDays = Math.floor(expirationDDay * 60 * 60 * 24); %>
                                <% if (expirationDDay < weekInMs) { %>
                                    <div class="chip small"><svg></svg> in <%= xpddDays %> days</div>
                                <% } %>
                            <% } %>
                        </a>
                        <a href="/search/?ingredients=<%= i.name %>">
                            <div class="action">
                                Browse Recipes
                                <svg></svg>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </section>

        <section>

        </section>
    </main>

    <% if (data?.modal) { let modalConfig; %>
        <%- include('./_new.ejs') %>

        <% if (data?.modal==='show') { %>
            <script type="text/javascript">
                modalConfig = {
                    targetId:'ingredient-modal',
                    function2() {this.deleteIngredient()}
                };
                
            </script>
            <% } %>
        <% if (data?.modal==='new') { %>
            <script type="text/javascript">
                modalConfig = {targetId:'ingredient-modal'};
            </script>
            <% } %>
        <% if (data?.modal==='edit') { %>
            <script type="text/javascript">
                modalConfig = {
                    targetId:'ingredient-modal',
                    function2() {this.deleteIngredient()}
                };
            </script>
            <% } %>
            <script type="text/javascript" src="/js/modalController.js"></script>
    <% } %>
</body>
</html>